<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="manifest" href="/manifest.json">
    <script src='/javascripts/registration.js'></script>
  </head>
  <body>
      <!-- Code I am not proud of -->
      <% if (onlineCheck) { %>
        <p id="online-display">Online ✔</p>
      <%} %>
      <% if (!onlineCheck) { %>
        <p id="offline-display">Offline ⚠</p>
      <%} %>
      <!-- End of code I am not proud of -->
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
  <div id='wrapper'>
    <div id="first-option">
      <h2>first option (for loop)</h2>
      <!-- Loop through object using for loop: Old School Syntax -->
      <ul>
          <% for(var i=0; i < users.length; i++) { %>
            <li class="name"><%= users[i].name %></li>
          <%} %>
      </ul>
    </div>
    <div id="second-option">
      <h2>second option (map)</h2>
      <!-- Loop through object using map: Recommended if you want to be cool -->
      <ul>
        <% Object.values(users).map((item, index) => { %>
          <li class="name"><%= item.name %></li>
        <%})%>
      </ul>
    </div>
    <button onClick='onClick()'>Send Data to API</button>
  </div>
  <script>
    const onClick = async () => {
      const rawResponse = await fetch('https://httpbin.org/post', {
        method: 'POST',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({a: 1, b: 'Heres some data'})
      });
      const content = await rawResponse.json();
    console.log('Your data was saved succesfully', content, '🐁');
    }
  // @andre: uncomment if you want to use fetch instead of axios
  // fetch('http://localhost:8080/api').then(function(response){
  //   return response.json();
  // })
  // .then((function(jsonResponse){
  //   console.log(jsonResponse);
  // }))
  </script>
</html>